/* GENERICS */

* {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 150px;
}

/* INDESTAZIONE */

header {
    height: 100px;
    background-color: #0084FD;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 1px lightgrey;
}

/* COLONNE */

.container {
    max-width: 375px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-direction: column;
}

.big-col{
    height: 500px;
}

.small-col{
    height: 350px;
}

.big-col, .small-col {
    background-color: #B5DDFF;
    border-radius: 20px;
    width: 100%;
    margin-top: 30px;
}

.padding{
    padding: 0 30px;
    margin-top: 30px;
    padding-bottom: 50px;
}

/* SEZIONE VIOLA */

#violet {
    background-color: #9792E4;
}

.row-violet {
    padding: 50px 30px;
    padding-bottom: 50px;
    margin-top: 35px;
}

.super-col {
    height: 700px;
    border: 5px solid #BCB5EE;
}

.col-white {
    border-radius: 50px;
    background-color: #FFFFFF;
    width: 100%;
    height: 600px;
    margin-top: 35px;

}

/* SEZIONE TESTIMONIALS */


.col-testimonial {
    width: 100%;
    height: 300px;
    border: 5px solid #BCB5EE;
}


.col-violet {
    border-radius: 50px;
    background-color: #9792E4;
    width: 100%;
    height: 400px;
    margin-top: 35px;

}