/* GENERICS */

* {
    font-family: 'PT Sans', sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 100px;
}

/* INDENTAZIONE */

header {
    height: 100px;
    background-color: #0084FD;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 1px lightgrey;
    color: white;
    box-shadow: 1px black;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
}

ul li {
    padding-right: 25px;
}

ul li:last-child {
    padding-right: 0px;
}

a {
    list-style-type: none;
    text-decoration: none;
    color: white;
}

p {
    margin-top: 30px;
    margin-bottom: 30px;
}

.grey {
    color: grey;
    
}


.button {
    background-color: #0084FD;
    border-radius: 35px;
    padding: 10px 50px;
    margin-bottom: 25px;
}

.fa-apple {
    margin-right: 5px;
}

.menu {
    display: none;
}

.btn-white {
    background-color: white;
    color: black;
    border-radius: 35px;
    padding: 10px 25px;
}

/* COLONNE */

.container {
    max-width: 100%;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}


.big-col, .small-col {
    background-color: #B5DDFF;
    border-radius: 20px;
    margin-top: 30px;
    width: 100%;
}

.padding{
    padding: 0 30px;
    margin-top: 30px;
    padding-bottom: 50px;
}

img {
    width: 100%;
}

.d-block {
    display: block;
}

h2 {
    color: #0084FD;
}

.image {
    margin-top: 25px;
}

.center {
    text-align: center;
}

.big {
    font-size: 80px;
    color: #0084FD;
}


/* SEZIONE VIOLA */


.col-white {
    border-radius: 50px;
    background-color: #FFFFFF;
    width: 100%;
    margin-top: 35px;
}

.card {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.violet {
    background-color: #9792E4;
}

h1 {
    color: white;
    font-size: 50px;
}

.white {
    color: white;
}

.nopadding {
   padding-left: 0px; 
   padding-right: 0px; 
}

.fa-arrow-down {
    background-color: #9792E4;
    padding: 10px;
    border-radius: 100px;
    color: black;
}

.arrow {
    padding-bottom: 25px;
}
/* SEZIONE TESTIMONIALS */


.col-testimonial {
    width: 100%;
}


.col-violet {
    border-radius: 50px;
    background-color: #9792E4;
    width: 100%;
    margin-top: 35px;
}

.border {
    border-radius: 100%;
    height: 200px;
    width: 200px;
}

.color-violet {
    color: #9792E4;
}

.wdnone {
    font-weight: none;
}

h5 {
    font-size: 20px;
}

.quotes {
    font-size: 30px;
    font-weight: 700;
}
/* SEZIONE BENEFITS */

.row-benefits {
    padding-top: 25px;
}

.col-benefits {
    width: 100%;
    height: 400px;
    background-color: #FFFFFF;
    border-radius: 25px;
    margin-top: 50px;
}

#pink {
    background-color: #9792E4;
}

.more {
    background-color: #9792E4;
    border-radius: 25px;
    padding: 10px 50px;
}

.medium {
    font-size: 35px;
    padding-top: 35px;
}


/* SEZIONE ABOUT */

.fa-linkedin {
    margin-top: 30px;
}

/* SEZIONE GET STARTED */

.text {
    width: 100%;
    height: 600px;
}

.line-height {
    line-height: 35px;
}

.lightgrey {
    color: #D5D4F4;
}

.orange {
    color: #FDC15F;
}

.getstarted {
    background-color: white;
    padding: 10px 50px;
    border-radius: 25px;
}

.marginbottom {
    margin-bottom: 25px;
}

.bold {
    font-weight: 700;
}

.decoration {
    text-decoration: underline;
}

/* FOOTER */

footer {
    background-color: #333333;
    height: 200px;
}

.nomargin {
    margin-top: 0px;
    font-weight: 400;
}



/* RESPONSIVE */

@media screen and (min-width: 809px) {


    /* COLONNE */

    .container {
        width: 800px;
    }
    
    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .big-col {
        width: calc(100% / 3 * 2 - 25px);
    }


    .small-col {
        width: calc(100% / 3 - 25px);
    }

    .d-block {
        width: 70%;
    }
    
    /* SEZIONE TESTIMONIALS */

    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .name {
        color: white;
    }

    /* SEZIONE BENEFITS */

    .row-benefits{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .col-benefits {
        width: 47%;
    }

    
    /* GET STARTED */

    .row-started {
        padding-top: 25px;
    }

    /* ABOUT US */

    .row-about {
        display: flex;

    }

    .col-about-70 {
        width: 50%;
    }

    .col-about-30 {
        width: 50%;
    }
    
    /* FOOTER */

    footer {
        padding-top: 25px;
    }

}

@media screen and (min-width: 992px) {

    .container {
        width: 70%;
        margin: 0 auto;
    }

    .nav-bar {
        margin: 0 auto;
        width: 70%;
        text-align: center;
    }

    .d-block {
        width: 70%;
    }
    .super-col {
        width: 45%;
    }

    .col-white {
        width: 30%;
    }
    /* SEZIONE VIOLA */

    .col-white{
        margin-left: 30px;
    }

    .row-violet {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .icon {
        display: none;
    }

    .menu {
        display: block;
    }

    /* SEZIONE BENEFITS */

    .row-benefits {
        display: flex;
    }

    .col-benefits {
        width: calc(100% / 3 - 25px);
        margin-left: 25px;
    }

    /* SEZIONE ABOUT */

    .col-about-70{
        width: 70%;
        margin-top: 40px;
    }

    .col-about-30 {
        width: 30%;
    }
}